.controls {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0; top: 0;

	.buttonsWrapper {
		display: flex;
		justify-content: space-around;
		position: absolute;
		width: 90%;
		max-width: 800px;
		left: 50%;
		bottom: 100px;
		transform: translate(-50%);
	}
	
}